sphinx>=8.2.3
sphinx_rtd_theme>=3.0.2
readthedocs-sphinx-search>=0.3.2
sphinx-autobuild>=2025.8.25
myst-parser>=4.0.1
docutils>=0.21.2
sphinxcontrib.mermaid>=1.0.0
sphinx_design>=0.6.1
pydata-sphinx-theme>=0.16.1
sphinx-autodoc-napoleon-typehints>=2.1.6